*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(22, 21, 19, 0.705)), url(./book-bindings-bookcase-books-indoors-preview.jpg);
    background-position: center;
    background-size: cover;


}
.contains{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(22, 21, 19, 0.705)), url(./book-bindings-bookcase-books-indoors-preview.jpg); */
    background-position: center;
    background-size: cover;
    position: relative;
}  
.form{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #514740e3;
    padding: 50px 60px 70px;
    text-align: center;
}

.form h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #d2c6ae;
    position: relative;

}

.form h1::after{
    content: '';
    width: 80px;
    height: 3px;
    border-radius: 3px;
    background: #c9baa0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);

}
.field{
    background: #e0d7cf;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.field{
    margin-left: 15px;
    color: 999;
}

form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #e5e1da;
}

.button{
    background: #866f59;
    color: #ffffff;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: 1s;
    height: 40px;
    border-radius: 20px;
    width: 100px;
    font-size: 15px;
}

#para{
    margin-top: 5%;
    padding-bottom: 5px;
    color: #b3a893;
}
.fields {
    display: flex;
    justify-content: space-between;
  }
  
  .select-container {
    flex: 1; /* Take up remaining space */
    margin-right: 20px;
    margin-left: 15px;
  }
  .selected-genres-container {
    flex: 1; /* Take up remaining space */
  }


  .select-container select {

    width: 100%;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #887869;
    box-sizing:border-box; 
    background: #e0d7cf;
  }
  .select-genres-container{
    background: #e0d7cf;
    margin: 6px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
  }
   
  .selected-genres-container ul {
    list-style-type:none;
    padding-left: 0;
    color: #e3ded3;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;



  }
  .selected-genres-container li {
    margin-bottom: 5px;
  }
  #title{
    color: #bfa066;
    font-size: 15px;
  }
  

  
  
